@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron d-flex justify-content-between align-items-center">
    <h1>Purdue University</h1>
    <img width="500" class="rounded" src="https://img.freepik.com/premium-photo/students-friends-happy-portrait-people-with-diversity-collaboration-university-support-student-funny-joke-smile-college-group-outdoor-ready-learning-teamwork-with-laugh_590464-144441.jpg" alt="Group of friends on campus" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Purdue University</h2>
        <p>
            Purdue University is a technologically advanced university that is committed to providing students with the best possible educational experience.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Best-in-class education</h2>
        <p>Students will receive personalized instruction and guidance at our University, ensuring that their learning experience is tailored to their needs.</p>
    </div>
    <div class="col-md-4">
        <h2>Successful Alumni</h2>
        <p>Many of our graduates have gone on to create life-changing products, start their own companies, and become leaders in their fields.</p>
    </div>
</div>